@import url('https://fonts.googleapis.com/css2?family=Padauk&family=Raleway:wght@100&display=swap');

body{
    background-image: url('bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.raleway{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

.input{
    background: transparent;
    border: black unset 3px;
}

.padauk{
    font-family: 'Padauk', sans-serif;
    font-size: 20px;
}